body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.navbar {
    z-index: 10;
}

.photo {
    position: relative;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.photo_text {
    position: relative;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    box-sizing: border-box;
    z-index: 2;
}

.photo_text h3 {
    font-size: 5vw;
    margin-bottom: 20px;
}